# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

builds/
# Django
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local

# Node / Frontend
node_modules/
dist/
build/
.cache/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/404.html
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/mockups/Anforderungen.pdf
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/bundle.79ae519e.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/bundle.79ae519e.min.js.map
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/images/favicon.png
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/grundlagen/htmlZuDjango/index.html
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/mockups/index.html
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/index.html
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.ar.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.da.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.de.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.du.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.el.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.es.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.fi.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.fr.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.he.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.hi.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.hu.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.hy.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.it.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.ja.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.jp.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.kn.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.ko.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.multi.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.nl.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.no.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.pt.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.ro.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.ru.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.sa.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.sv.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.ta.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.te.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.th.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.tr.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.vi.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/min/lunr.zh.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/stylesheets/main.484c7ddc.min.css
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/stylesheets/main.484c7ddc.min.css.map
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/stylesheets/palette.ab4e12ef.min.css
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/stylesheets/palette.ab4e12ef.min.css.map
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/workers/search.2c215733.min.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/workers/search.2c215733.min.js.map
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/search/search_index.json
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/sitemap.xml
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/sitemap.xml.gz
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/tinyseg.js
/builds/4GXVelnn_/0/stu235370/sql-quest-editor/site/assets/javascripts/lunr/wordcut.js
