# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

backend/builds
builds/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local

# Node / Frontend
node_modules/
dist/
build/
.cache/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.sqlite3