[MASTER]
load-plugins=pylint_django
django-settings-module=config.settings

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    import-error

[FORMAT]
max-line-length=120

[DESIGN]
max-args=8
max-locals=20

[REPORTS]
score=yes