{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Levelübersicht | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'editor/components/button/button.css' %}">
<link rel="stylesheet" href="{% static 'editor/components/statusBar/statusBar.css' %}">
<link rel="stylesheet" href="{% static 'editor/components/helper/helper.css' %}">
{% endblock %}

{% block content %}
<main class="create-page">
  <div class="create-page__content">

    <section
      class="create-page__status"
      aria-label="Fortschritt der Levelerstellung"
    >
      {% include "editor/components/statusBar/statusBar.html" with steps=steps %}
    </section>

    <section class="create-page__main">
      <div class="row align-items-center justify-content-center gx-5 gy-5">

        <section
          class="col-12 col-lg-3 px-lg-4"
          aria-label="Bereiche der Levelerstellung"
        >
          <div class="d-flex flex-column align-items-center align-items-lg-start gap-5">

            <a
              href="{% url 'levelGrunddaten' %}"
              class="text-decoration-none"
            >
              {% include "editor/components/button/button.html" with title="Levelgrunddaten" %}
            </a>

            <a
              href="{% url 'sql_grunddaten_view' %}"
              class="text-decoration-none"
            >
              {% include "editor/components/button/button.html" with title="SQL-Beschränkungen" %}
            </a>

            <a
              href="{% url 'messages_grunddaten' %}"
              class="text-decoration-none"
            >
              {% include "editor/components/button/button.html" with title="Systemnachrichten" %}
            </a>

            <a
              href="{% url 'gegenstandVerwaltung' %}"
              class="text-decoration-none"
            >
              {% include "editor/components/button/button.html" with title="Gegenstände" %}
            </a>

          </div>
        </section>

        <section
          class="col-12 col-lg-5 px-lg-5"
          aria-label="Hinweise von Cosmo"
        >
          <div class="d-flex flex-column align-items-center text-center">

            {% include "editor/components/helper/helper.html" with helper_image="editor/img/cat2.png" helper_text="Du befindest dich in der Übersicht zur Levelerstellung. Wenn du möchtest, begleite ich dich Schritt für Schritt durch den gesamten Erstellungsprozess. Wähle hierfür die geführte Levelerstellung rechts von mir. Alternativ kannst du direkt den Bereich links auswählen, den du bearbeiten möchtest." %}

            <div class="d-flex flex-column align-items-center gap-3 mt-5 pt-3 w-100">

              <form
                action="{% url 'save_level' %}"
                method="post"
                class="w-100"
              >
                {% csrf_token %}

                {% include "editor/components/button/button.html" with title="Level speichern" type="submit" %}
              </form>

            </div>

          </div>
        </section>

        <section
          class="col-12 col-lg-3 px-lg-4"
          aria-label="Geführte Levelerstellung"
        >
          <div class="d-flex justify-content-center ps-lg-4">

            <a
              href="{% url 'create_level' %}"
              class="text-decoration-none"
            >
              {% include "editor/components/button/button.html" with title="Geführte Levelerstellung" %}
            </a>

          </div>
        </section>

      </div>
    </section>

  </div>
</main>
{% endblock %}