{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Levelgrunddaten | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link
  rel="stylesheet"
  href="{% static 'editor/components/statusBar/statusBar.css' %}"
>
<link
  rel="stylesheet"
  href="{% static 'editor/components/helper/helper.css' %}"
>
{% endblock %}

{% block content %}
<main class="create-page">
  <div class="create-page__content">

    <section
      class="create-page__status{% if not request.session.guided_level_creation %} d-none{% endif %}"
      aria-label="Fortschritt der Levelerstellung"
    >
      {% include "editor/components/statusBar/statusBar.html" with steps=steps %}
    </section>

    {% url 'create_level1' as create_level1_url %}
    {% url 'create_level' as create_level_url %}

    {% include "editor/partials/levelGrunddatenForm.html" with form_action=create_level1_url back_url=create_level_url helper_text="Hier legen wir die Grundsteine unseres Levels fest. Gib dem Level einen Namen, wähle ein Hintergrundbild aus und lege fest, wie der Nutzer begrüßt werden soll." submit_label="Weiter" submit_icon="bi-arrow-right" submit_button_id="continue-button" require_picture=True %}

  </div>
</main>
{% endblock %}
