{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Typart wählen | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'editor/css/createLevelShared.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/createLevel61.css' %}">
<link rel="stylesheet" href="{% static 'editor/components/statusBar/statusBar.css' %}">
<link rel="stylesheet" href="{% static 'editor/components/dropdown/dropdown.css' %}">
{% endblock %}

{% block content %}

<main class="create-level61-page">

  <form
    class="create-level61-content"
    action="{% url 'create_level61' %}"
    method="post"
  >
    {% csrf_token %}

    {% include "editor/components/statusbar/statusbar.html" with steps=steps %}

    <div class="create-level61-layout">

      <aside class="create-level61-helper" aria-label="Erklärung der Gegenstandstypen">
        <img
          src="{% static 'editor/img/cat1.png' %}"
          alt="Cosmo Wizard"
          class="create-level61-cosmo"
        >

        <div class="create-level61-info-text">
          <p>
            Ein Tabellengegenstand besitzt eine SQL Tabelle mit Daten.
            Hierin kann man SQL Anfragen stellen.
          </p>

          <p>
            Ein Hint-Gegenstand besitzt einen Hinweis, dies kann ein Bild und oder ein Hinweistext sein.
          </p>

          <p>
            Ein Exit-Gegenstand definiert den Ausgang eines Spiels.
            Hierin definiert man welches Level als nächstes folgt.
          </p>
        </div>
      </aside>

      <section class="create-level61-fields" aria-label="Typauswahl">
        {% include "editor/components/dropdown/dropdown.html" with id="item-type" name="item_type" label="Welcher Typ soll dein Gegenstand haben?" placeholder="Typart" options=type_options selected_value=form_values.item_type required=True %}
      </section>

    </div>

    <section class="create-level61-navigation" aria-label="Seitennavigation">
      <a class="create-level1-button" href="{% url 'create_level6' %}">
        Zurück
      </a>

      <button type="submit" class="create-level1-button">
        Weiter
      </button>
    </section>

  </form>

</main>

{% endblock %}