{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Level erstellen | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'editor/components/statusBar/statusBar.css' %}">
{% endblock %}

{% block content %}
<main class="create-page">
  <div class="create-page__content">

    <section
      class="create-page__status{% if not request.session.guided_level_creation %} d-none{% endif %}"
      aria-label="Fortschritt der Levelerstellung"
    >
      {% include "editor/components/statusBar/statusBar.html" with steps=steps %}
    </section>

    <section class="create-page__main">
      <div class="row create-page__row justify-content-center">

        <div class="col-12">
          <div class="row align-items-center justify-content-center g-4">
            <div class="col-12 col-md-4 col-lg-3">
              <img
                src="{% static 'editor/img/cat1.png' %}"
                alt="Cosmo, dein Begleiter bei der Levelerstellung"
                class="cosmo-image img-fluid mx-auto"
              >
            </div>

            <div class="col-12 col-md-8 col-lg-7">
              <p class="fs-5 fw-semibold text-center text-md-start mb-0">
                Hey, ich bin Cosmo, dein Begleiter bei der Erstellung eines neuen Levels. Das klappt ganz einfach und ohne großen technischen Hintergrund – Schritt für Schritt. Klicke auf Start, damit wir beginnen können.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <nav
      class="create-page__navigation"
      aria-label="Navigation der Levelerstellung"
    >

      <a
        href="{% url 'auswahl_view' %}"
        class="btn btn-outline-primary btn-lg px-4"
      >
        <i
          class="bi bi-arrow-left me-2"
          aria-hidden="true"
        ></i>
        Zurück
      </a>

      <a
        href="{% url 'create_level1' %}"
        class="btn btn-primary btn-lg px-4"
      >
        Start
        <i
          class="bi bi-arrow-right ms-2"
          aria-hidden="true"
        ></i>
      </a>


    </nav>

  </div>
</main>
{% endblock %}
