{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Level erstellen | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'editor/components/statusBar/statusBar.css' %}">
<link rel="stylesheet" href="{% static 'editor/components/chatBox/chatBox.css' %}">
{% endblock %}

{% block content %}
<main class="create-page">
  <div class="create-page__content">

    <section
      class="create-page__status"
      aria-label="Fortschritt der Levelerstellung"
    >
      {% include "editor/components/statusBar/statusBar.html" %}
    </section>

    <section class="create-page__main">
      <div class="row create-page__row align-items-center justify-content-center g-4 g-lg-5">

        <div class="col-12 col-md-auto text-center">
          <img
            src="{% static 'editor/img/cat1.png' %}"
            alt="Cosmo, dein Begleiter bei der Levelerstellung"
            class="cosmo-image img-fluid"
          >
        </div>

        <div class="col-12 col-md-7 col-lg-6">
          {% include "editor/components/chatBox/chatBox.html" with is_editable=False game_wizard_input="Hey, ich bin Cosmo, dein Begleiter bei der Erstellung eines neuen Levels. Das klappt ganz einfach und ohne großen technischen Hintergrund – Schritt für Schritt. Klicke auf Start, damit wir beginnen können." placeholder_text="Nicht bearbeitbar" %}
        </div>

      </div>
    </section>

    <nav
      class="create-page__navigation"
      aria-label="Navigation der Levelerstellung"
    >
      <a
        href="{% url 'create_level1' %}"
        class="btn btn-primary btn-lg px-5"
      >
        Start
      </a>
    </nav>

  </div>
</main>
{% endblock %}