{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Level erstellen | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'editor/css/createLevelShared.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/createLevel2.css' %}">
<link rel="stylesheet" href="{% static 'editor/components/statusBar/statusBar.css' %}">
{% endblock %}

{% block content %}

<main class="create-level-page py-5">
    <div class="container">

        {% include "editor/components/statusbar/statusbar.html" with steps=steps %}

        <form
            class="create-level2-content"
            action="{% url 'create_level2' %}"
            method="post"
        >
            {% csrf_token %}

            <div class="row align-items-start create-level2-form-row">

                <aside class="col-12 col-md-4 create-level2-helper" aria-label="Hilfetext von Cosmo">
                    <img
                        src="{% static 'editor/img/cat1.png' %}"
                        alt="Cosmo Wizard"
                        class="create-level2-cosmo"
                    >

                    <p>
                        Hier legen wir fest, wie viele Zeilen und Spalten eine SQL-Abfrage
                        maximal anzeigen darf. Außerdem bestimmst du die passenden Meldungen,
                        falls zu viele Ergebnisse angezeigt werden.
                    </p>
                </aside>

                <section class="col-12 col-md-8 create-level2-fields" aria-label="SQL-Anzeigebegrenzung">

                    <div class="mb-5">
                        {% include "editor/components/chatbox/chatbox.html" with title="Anzahl der Spalten, welche angezeigt werden sollen" input_id="max_columns" input_name="max_columns" placeholder_text="Schreibe eine Nummer hinein" game_wizard_input=form_values.max_columns is_editable=True %}
                    </div>

                    <div class="mb-5">
                        {% include "editor/components/chatbox/chatbox.html" with title="Anzahl der Zeilen, welche angezeigt werden sollen" input_id="max_rows" input_name="max_rows" placeholder_text="Schreibe eine Nummer hinein" game_wizard_input=form_values.max_rows is_editable=True %}
                    </div>

                    <div class="mb-4">
                        {% include "editor/components/chatbox/chatbox.html" with title="Meldung bei zu vielen Zeilen" input_id="too_many_rows_message" input_name="too_many_rows_message" placeholder_text="Schreibe hinein" game_wizard_input=form_values.too_many_rows_message is_editable=True %}
                    </div>

                    <div class="mb-4">
                        {% include "editor/components/chatbox/chatbox.html" with title="Meldung bei zu vielen Spalten" input_id="too_many_columns_message" input_name="too_many_columns_message" placeholder_text="Schreibe hinein" game_wizard_input=form_values.too_many_columns_message is_editable=True %}
                    </div>

                    <div class="mb-5">
                        {% include "editor/components/chatbox/chatbox.html" with title="Meldung bei zu vielen Zeilen und Spalten" input_id="too_many_rows_columns_message" input_name="too_many_rows_columns_message" placeholder_text="Schreibe hinein" game_wizard_input=form_values.too_many_rows_columns_message is_editable=True %}
                    </div>

                </section>
            </div>

            <section class="create-level2-navigation" aria-label="Seitennavigation">
                {% url 'create_level1' as create_level1_url %}
                {% include "editor/components/button/button.html" with title="Zurück" href=create_level1_url %}

                <button type="submit" class="btn btn-lg rounded-pill create-level-submit-button">
                    Weiter
                </button>
            </section>
        </form>

    </div>
</main>
{% endblock %}