{% extends "editor/base.html" %}
{% load static %}

{% block title %}
Startseite | SQL Spell Quest Editor
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'editor/css/start.css' %}">
{% endblock %}

{% block content %}
<main class="start-page">
  <div class="container text-center">
    <section class="start-hero mx-auto">
      <h1 class="display-5 fw-bold mb-3">
        Eine Möglichkeit, um Lehre zu vereinfachen
      </h1>

      <p class="fs-5 fw-medium text-black-50 mb-5">
        Wähle eine Game-Level-JSON-Datei aus, um ein Game zu editieren.
      </p>

      <form method="post" enctype="multipart/form-data" action="{% url 'upload_json' %}">
        {% csrf_token %}

        <input type="file" name="json_file" accept=".json,application/json">

        <button type="submit">
          Upload a JSON
        </button>
      </form>
    </section>
  </div>
</main>
{% endblock %}