.create-level-button-section {
  margin-top: 230px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.create-level-page {
  min-height: calc(100vh - 56px);
  background-color: #ffffff;
}

.create-level-status {
  margin-top: 36px;
}

.create-level-wizard {
  margin-top: 24px;
}

.create-level-wizard-row {
  column-gap: 48px;
}

.create-level-cosmo {
  width: 210px;
  height: auto;
}

.create-level-button-section {
  margin-top: 260px;
  display: flex;
  justify-content: center;
  width: 100%;
}