<div class="tableItem d-flex align-items-center justify-content-between px-3 py-2 rounded-3 gap-2">
    <span class="fw-semibold">{{title}}</span>

    <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-link p-0 text-dark tableItemIcon" aria-label="Delete">
            <i class="bi bi-x-lg"></i>
        </button>

        <button type="button" class="btn btn-link p-0 text-dark tableItemIcon" aria-label="Edit">
            <i class="bi bi-pencil"></i>
        </button>
    </div>
</div>